 <header>
        <div class="container">
            <div class="logo flex">
               <img src="/img/logo.jpg" alt="">
               <h1>Tasks Manager</h1>
            </div>
            <nav>
                <ul class="flex">
                    <li class="btnSignUp">Sign Up</li>
                    <li class="btnLogin">Login</li>
                    <li class="btnLogout diplaynone">Logout</li>
                </ul>
            </nav>
        </div>
 </header>